/* VARIANLES */

:root {
    /* colors */
    --ms_primary-color: #1abc9c;
    --ms-secondarr-color: #2c3e50;
    --ms-secondary-color-light: #3A546D ;
}

/* common */
html {
    font-size: 100%;
}

img { 
    width: 100%;
}

ul {
    list-style: none;
}

li {
    display: inline-block;
}

a {
    text-decoration: none;
    color: white;
}

.ms_section  {
    padding: 2rem;
}

.ms_contaimer-small {
    max-width: 1170px;
    width: 60%;
    margin: 0 auto;
}

.ms_bg-primary {
    background-color: var(--ms_primary-color);
    color: white;
}

.ms_bg-secondary {
    background-color: var(--ms-secondarr-color);
    color: white;
}

.ms_bg-secondary-light {
    background-color: var(--ms-secondary-color-light);
    color: white;
}

.ms_btn {
    padding: .5rem 1rem;
    color: white;
    border-radius: 5px;
    border: 1px solid white;
    background-color: #1abc9c;
}

.download_btn:hover {
    color: #1abc9c;
    background-color: white;
}


/* star */

.star {
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

.star::before, 
.star::after {
    content: "";
    display: inline-block;
    width: 4rem;
    height: 3px;
    background-color: var(--ms-secondarr-color);
    vertical-align: super;
}

.ms_bg-primary .star::after,
.ms_bg-primary .star::before {
    background-color: white;
}

/* logo */

.logo-wrapper {
    font-size: 1.5rem;
}

/* header */

header {
    height: 80px;
    line-height: 80px;
    font-weight: bolder;
}

.menu {
    display: none;
}

.menu-wrapper {
    text-align: right;
    color: white;
}

.burger {
    display: block;
}

/* MAIN */
.ms_title-wrapper {
    text-align: center;
    margin-bottom: 1rem;
}

/* jumbotron */

.ms_jumbotron {
    text-align: center;
}
.jumbotron-image > img {
    width: 200px;
    height: auto;
}

.ms_card {
     border-radius: 20px;
}
.ms_icon {
    font-size: 1rem;
    padding: .5rem .8rem;
    border: 1px solid #888888;
    color: #888888;
    border-radius: 5px;
}


/* section about */

.btn-about {
    text-align: center;
    padding: 2rem 0;
}

/* section contact */

.ms_contact-form {
    font-size: 1.2rem;
    font-weight: bolder;
    border-top: 0;
    padding: 1rem 0;
    border-left: 0;
    border-right: 0;
}

 .form-control:focus {
    box-shadow: none;
    border-color: #b0b5b9;
} 

.ms_form_message {
    padding-bottom: 7rem;
}

.send_btn:hover {
    background-color: #15a084;
}

/* footer */
.ms_social {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ms_social ul li{
    font-size: 1rem;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: white;
    border: 1px solid white;
    border-radius: 50%;
}

.ms_social ul {
    padding: 0;
}

#ms_a_green {
    color: var(--ms_primary-color);
    text-decoration: none;
}


/* MEDIA QUERY */

/* media screen medium */

@media (min-width: 768px) {
    .menu {
        display: block;
    }

    .ms_burger {
        display: none;
    }
}

/* media screen large */
@media (min-width: 1280px) {
    .menu {
        display: block;
    }

    .ms_burger {
        display: none;
    }
}