/* common */
html {
    font-size: 100%;
}

img { 
    width: 100%;
}

ul {
    list-style: none;
}

li {
    display: inline-block;
}

a {
    text-decoration: none;
    color: white;
}

h1 {
    color: white;
}
/* logo */

.logo-wrapper {
    color: white;
    font-size: 1.5rem;
    font-weight: bolder;
}

/* header */

header {
    background-color: #3a546d;
    height: 80px;
    line-height: 80px;
}

.ms-a-menu {
    font-weight: bolder;
}

.menu {
    display: none;
}

.menu-wrapper {
    text-align: right;
    color: white;
}

.burger {
    display: block;
}

/* jumbotron */
.jumbotron {
    background-color: #1abc9c;
}

.container-fluid {
     display: flex;
    flex-direction: column;
    align-items: stretch;
}

/* section portfoglio */


/* MEDIA QUERY */

/* media screen medium */

@media (min-width: 768px) {
    .menu {
        display: block;
    }

    .burger {
        display: none;
    }
}

/* media screen large */
@media (min-width: 1280px) {
    .menu {
        display: block;
    }

    .burger {
        display: none;
    }
}